.pic
{
    height:70vh;
    width:50vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:50%;
    margin-top:-150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.waves
{
    position: relative;
    margin-left:-8px;
    margin-top:-8px;
}
.heads
{
    margin-top:-26%;
    margin-left:-40%;
    color:rgb(34, 34, 191);
    display:flex;
    justify-content: center;
    align-items: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.heads
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.para
{
    margin-left:-48%;
    font-size: 25px;
    margin-top:3%;
    color:#2c89cc;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sign
{
    height:5vh;
    width:5vw;
    border-radius:10px;
    cursor: pointer;
    border: none;
    background: #A2D9FF;
    margin-top:0%;
    margin-left:19%;
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login
{
    height:5vh;
    width:5vw;
    border-radius:10px;
    cursor: pointer;
    border: none;
    background: #A2D9FF;
    margin-top:-2.5%;
    margin-left:30%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.admin
{

    align-items: center;
    background: #A2D9FF;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    justify-content: center;
    display: flex;
    font-size: 15px;
    margin-top: 3.5%;
    width: 5vw;
    height: 5vh;
    text-align: center;
    margin-left: 370px;
}
